server:
  port: 8080
  macaroon_root_key: <MACAROON_ROOT_KEY>
  bitmark_account_seed: <BITMARK_ACCOUNT_SEED>
bitmarksdk:
  token: <API_TOKEN>
  network: testnet
mongo:
  conn: mongodb://127.0.0.1:27017/?compressors=disabled
  pool: 10
